{%include "base.html"%}
<body background="/static/index/images.jpg"  style="background-size:100% 98%;">
<link rel='stylesheet' href='/static/index/home.css' />

<div class="homee">
 <marquee style="color: white;
 font-style: bold;
 font-size : 40px; margin-left:15%;
 margin-right: 20%;

 margin-top: 30%;" direction="right" behavior="alternate" scrollamount=8></marquee>
 <marquee style="color: white;
 font-style: bold;
 font-size : 40px;" direction="right" behavior="alternate" scrollamount=8>Secure To SafeGaurd!!</marquee>

</div>
    
</body>